
@{
    Layout = null;
    var id = ViewBag.ID;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>hello world</h1>
        <input type="button" name="123" value=@id>
    </div>
    <table border="1" >
        <tbody align=center>
            <tr>
                <td colspan=3>組長:丁宣文</td>
            </tr>
            <tr>
                <td>丁宣文</td>
                <td>周鴻志</td>
                <td>黃悅軒</td>
            </tr>
            <tr>
                <td width="100">YO</td>
                <td width="100">HI</td>
                <td width="100">Fine</td>
            </tr>
        </tbody>
    </table>























</body>

</html>
